

<header class="header">
	<div class="top-left-logo"><span class="site-logo"><a href="/" class="logo-link">jQIT</a></span><span class="header-repo-title"><%= header %></span></div>
	<div class="login-status"></div>
	<script>
		var pathname = window.location.pathname;
//		if(pathname === "/") {

//		}
		var userState = <%- userStat %>
        var av = <%- JSON.stringify(av) %>
		dashboardLink = <%- JSON.stringify(dashboardLink) %>
		logoutLink = <%- JSON.stringify(logoutLink) %>
        $loginLogo = $(".login-status");
		if (av !== "undefined" && userState) {
			$loginLogo.append("<a id=gitlogout class='git-log git-logout' href=" + logoutLink + ">Logout</a><br><br><br><img class=avatar src=https://avatars.githubusercontent.com/u/"+av+">")
			$loginLogo.append("<a class='dashboard-link' href=" + dashboardLink + ">DashBoard</a>")
		} else {
			$loginLogo.append('<a class=git-log href=https://github.com/login/oauth/authorize?<%= urlstate %>>Login with Github</a><br><br>'.toString())
		}
        console.log("User:",av)
	</script>
</header>

<script>
	var avatarImage = <%- JSON.stringify(avatar_url) %>
	if(avatarImage !== null) {
		avatarImage = "<img class='header-logo' src="+ avatarImage + " alt=''>";
		$(".top-left-logo").prepend(avatarImage);
	} else {
		avatarImage = ""
	}

</script>