<header class='header'>
<h1><%= header %></h1>
<div class='login-seq'></div>
<script>
var user = localStorage.getItem('user')
var state = window.location.search;
state = state.split('=')
console.log(state)

if(state[0] === '?state') {

	$('.login-seq').append("<a class=git-log href=logout>Logout</a><br><br><br><img class=avatar src=https://avatars.githubusercontent.com/u/"+state[state.length-2]+ "="+state[state.length-1]+">".toString())
	var pathname = window.location.pathname;
	if(pathname !== '/')
		$('.git-log').remove()
		localStorage.setItem('user', true)
		$('.git-log').attr('class', 'login-seq logout');
		$('.logout').on('click', function(){
			localStorage.setItem('user', false)
		})

} else {
	$('.login-seq').append('<a class=git-log href=https://github.com/login/oauth/authorize?<%= urlstate %>>Login with Github</a><br><br>'.toString())
	localStorage.setItem('user', false)
	var pathname = window.location.pathname;
	if(pathname !== '/')
		$('.git-log').remove()

}
</script>
</header>