<html>
<title>Dashboard</title>
<meta charset='utf-8'>

<script src="/js/external/jquery-1.11.3.min.js"></script>
<script src="/js/external/d3.v3.min.js"></script>
<script src="/js/external/tinysort.js"></script>
<script src="/js/external/scrilla.js"></script>
<script src="/js/config.js"></script>
<script src="/js/sortTable.js"></script>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel='stylesheet' href='/css/jqit.css' />
<script>
    var issueIsZero, prIsZero, issueTeamIsZero, prTeamIsZero, issueContentTeamIsZero, prContentTeamIsZero;

flagData = <%- JSON.stringify(flag) %>
chartCol = <%-  JSON.stringify(chartColor) %>
endChartColor = <%-  JSON.stringify(endChartColor) %>
attention = <%- JSON.stringify(attention) %>
teamFlag = <%- JSON.stringify(teamFlag) %>
contentTeamFlag = <%- JSON.stringify(contentTeamFlag) %>

var teamsJSONValues = <%- JSON.stringify(teamsJSONValues) %>
var contentTeamJSON = <%- JSON.stringify(contentTeamJSON) %>
console.log(flagData, attention, teamFlag)
checkDashboardValues(flagData, teamFlag, contentTeamFlag);

</script>
<body>

<% include partials/header.html %>
<div class="complete-dashboard-wrap">
<span class="home-btn-wrap"><a class='home-btn' href="/">Home</a><span class="bar">|</span></span>
<br><br><br>
    <div class="repo-dashboard-wrap">
        <h3 class="repo-dashboard-title">Set Repository Watch</h3>
    <div class="inner-repo-dashboard-wrap">

<select name="dashboard-watch1" id="dashboard-watch1">
    <option value="title">Watch</option>
    <% for (var i = 0; i < compDoc.length; i++) {
    var targetedRepo = flag === null ? "" : flag.repository_target;
    if(compDoc[i].name === targetedRepo) { %>
                <option value="<%= compDoc[i].name %>" selected><%= compDoc[i].name %></option>
          <%  } else { %>
                <option value="<%= compDoc[i].name %>"><%= compDoc[i].name %></option>
           <% } %>
    <% } %>
</select>

<div>Issues increase limit: <span id="issue-slider-amount"></span></div>
<div id="issue-slider"></div>
<div>Pull Requests increase limit: <span id="pulls-slider-amount"></span></div>
<div id="pulls-slider"></div>
<input type="checkbox" id="receive-email" class="receive-email-chck">
<label class="flag1-lbl" for="receive-email">Receive Email</label>
<br>
<input type="checkbox" id="flag-issues-chart" class="flag-pulls-chart-chck">
<label class="flag2-lbl" for="flag-issues-chart">Flag issues increase in chart</label>
<br>
<input type="checkbox" id="flag-pulls-chart" class="flag-issues-chart-chck">
<label class="flag3-lbl" for="flag-pulls-chart">Flag pull requests increase in chart</label>
<br>
<script>

</script>
<div class="radio-highlight-choice">
    <input class="highlight-choice" id="highlight-every-choice" type="checkbox" name="highlight-option" value="every-increase">
    <label  class="radio-label" for="highlight-every-choice">Highlight every increase</label>
</div>

<div class="feedback"></div>
    </div>
    </div>



    <div class="team-dashboard-wrap">
        <h3 class="team-dashboard-title">Set Team Watch</h3>
    <div class="inner-team-dashboard-wrap">


        <select name="dashboard-watch2" id="dashboard-watch2">
            <option value="title">Watch</option>
            <% for (var i = 0; i < teamsJSONValues.length; i++) {
            var targetedRepo = teamFlag === null ? "" : teamFlag.team_target;
            if(teamsJSONValues[i].team === targetedRepo) { %>
            <option value="<%= compDoc[i].name %>" selected><%= teamsJSONValues[i].team %></option>
            <%  } else { %>
            <option value="<%= compDoc[i].name %>"><%= teamsJSONValues[i].team %></option>
            <% } %>
            <% } %>
        </select>

        <div>Issues increase limit: <span id="issue-slider-amount2"></span></div>
        <div id="issue-slider2"></div>
        <div class="ui-slider-tick-mark"></div>
        <div>Pull Requests increase limit: <span id="pulls-slider-amount2"></span></div>
        <div id="pulls-slider2"></div>
        <input type="checkbox" id="receive-email2" class="receive-email-chck2">
        <label class="flag1-lbl2" for="receive-email2">Receive Email</label>
        <br>
        <input type="checkbox" id="flag-issues-chart2" class="flag-pulls-chart-chck2">
        <label  class="flag2-lbl2" for="flag-issues-chart2">Flag issues increase in chart</label>
        <br>
        <input type="checkbox" id="flag-pulls-chart2" class="flag-issues-chart-chck2">
        <label  class="flag3-lbl2" for="flag-pulls-chart2">Flag pull requests increase in chart</label>
        <br>
        <script>

        </script>
        <div class="radio-highlight-choice2">
            <input class="highlight-choice2" id="highlight-every-choice2" type="checkbox" name="highlight-option2" value="every-increase">
            <label  class="radio-label2" for="highlight-every-choice2">Highlight every increase</label>
        </div>

        <div class="feedback2"></div>

    </div>
    </div>




<div class="content-dashboard-wrap">
    <h3 class="content-dashboard-title">Set Content Tracker Watch</h3>
    <div class="inner-content-dashboard-wrap">

        <select name="dashboard-watch3" id="dashboard-watch3">
            <option value="title">Watch</option>
            <% for (var i = 0; i < contentTeamJSON.length; i++) {
            var targetedRepo = contentTeamFlag === null ? "" : contentTeamFlag.content_team_target;
            if(contentTeamJSON[i].team === targetedRepo) { %>
            <option value="<%= compDoc[i].name %>" selected><%=  contentTeamJSON[i].team %></option>
            <%  } else { %>
            <option value="<%= compDoc[i].name %>"><%= contentTeamJSON[i].team %></option>
            <% } %>
            <% } %>
        </select>

        <div>Issues increase limit: <span id="issue-slider-amount3"></span></div>
        <div id="issue-slider3"></div>
        <div>Pull Requests increase limit: <span id="pulls-slider-amount3"></span></div>
        <div id="pulls-slider3"></div>
        <input type="checkbox" id="receive-email3" class="receive-email-chck3">
        <label class="flag1-lbl3" for="receive-email3">Receive Email</label>
        <br>
        <input type="checkbox" id="flag-issues-chart3" class="flag-pulls-chart-chck3">
        <label class="flag2-lbl3" for="flag-issues-chart3">Flag issues increase in chart</label>
        <br>
        <input type="checkbox" id="flag-pulls-chart3" class="flag-issues-chart-chck3">
        <label class="flag3-lbl3" for="flag-pulls-chart3">Flag pull requests increase in chart</label>
        <br>
        <script>

        </script>
        <div class="radio-highlight-choice3">
            <input class="highlight-choice3" id="highlight-every-choice3" type="checkbox" name="highlight-option" value="every-increase">
            <label  class="radio-label3" for="highlight-every-choice3">Highlight every increase</label>
        </div>

        <div class="feedback"></div>
    </div>
</div>



<script>
    //incoming values for setting checkboxes
    if(receiveEmail === "true"){
        $("#receive-email").attr("checked", true);
    }
    if(highlightissueschart === "true"){
        $("#flag-issues-chart").attr("checked", true);
    }
    if(highlightpullschart === "true"){
        $("#flag-pulls-chart").attr("checked", true);
    }
    if(showeveryincrease === "true") {
        $("#highlight-every-choice").attr("checked", true);
    }


    if(teamreceiveEmail === "true"){
        $("#receive-email2").attr("checked", true);
    }
    if(teamhighlightissueschart === "true"){
        $("#flag-issues-chart2").attr("checked", true);
    }
    if(teamhighlightpullschart === "true"){
        $("#flag-pulls-chart2").attr("checked", true);
    }
    if(teamshoweveryincrease === "true") {
        $("#highlight-every-choice2").attr("checked", true);
    }

    if(contentteamreceiveEmail === "true"){
        $("#receive-email3").attr("checked", true);
    }
    if(contentteamhighlightissueschart === "true"){
        $("#flag-issues-chart3").attr("checked", true);
    }
    if(contentteamhighlightpullschart === "true"){
        $("#flag-pulls-chart3").attr("checked", true);
    }
    if(contentteamshoweveryincrease === "true") {
        $("#highlight-every-choice3").attr("checked", true);
    }
</script>
<script>
    //function to handle the slider setup
    function setDefaults(issuesboundary, pullsboundary, teamissuesboundary, teampullsboundary, contentteamissuesboundary, contentteampullsboundary) {
        if (issuesboundary === '0') {
            issueIsZero = true;
        }
        if (pullsboundary === '0') {
            prIsZero = true;
        }
        if (issuesboundary === '0' && pullsboundary === '0') {
            $(".receive-email-chck").attr("checked", false);
            $(".receive-email-chck").attr('disabled', 'disabled');
            $(".flag-issues-chart-chck").attr("checked", false);
            $(".flag-issues-chart-chck").attr('disabled', 'disabled');
            $(".flag-pulls-chart-chck").attr("checked", false);
            $(".flag-pulls-chart-chck").attr('disabled', 'disabled');
            $(".highlight-choice").attr("checked", false);
            $(".highlight-choice").attr('disabled', 'disabled');
            $(".flag1-lbl").css({
                color: "#a9a9a9"
            });
            $(".flag2-lbl").css({
                color: "#a9a9a9"
            });
            $(".flag3-lbl").css({
                color: "#a9a9a9"
            });
        }


        if (teamissuesboundary === '0') {
            issueTeamIsZero = true;
        }
        if (teampullsboundary === '0') {
            prTeamIsZero = true;
        }
        if (teamissuesboundary === '0' && teampullsboundary === '0') {
            $(".receive-email-chck2").attr("checked", false);
            $(".receive-email-chck2").attr('disabled', 'disabled');
            $(".flag-issues-chart-chck2").attr("checked", false);
            $(".flag-issues-chart-chck2").attr('disabled', 'disabled');
            $(".flag-pulls-chart-chck2").attr("checked", false);
            $(".flag-pulls-chart-chck2").attr('disabled', 'disabled');
            $(".highlight-choice2").attr("checked", false);
            $(".highlight-choice2").attr('disabled', 'disabled');
            $(".flag1-lbl2").css({
                color: "#a9a9a9"
            });
            $(".flag2-lbl2").css({
                color: "#a9a9a9"
            });
            $(".flag3-lbl2").css({
                color: "#a9a9a9"
            });
        }

        if (contentteamissuesboundary === '0') {
            issueContentTeamIsZero = true;
        }
        if (contentteampullsboundary === '0') {
            prContentTeamIsZero = true;
        }
        if (contentteamissuesboundary === '0' && contentteampullsboundary === '0') {
            $(".receive-email-chck3").attr("checked", false);
            $(".receive-email-chck3").attr('disabled', 'disabled');
            $(".flag-issues-chart-chck3").attr("checked", false);
            $(".flag-issues-chart-chck3").attr('disabled', 'disabled');
            $(".flag-pulls-chart-chck3").attr("checked", false);
            $(".flag-pulls-chart-chck3").attr('disabled', 'disabled');
            $(".highlight-choice3").attr("checked", false);
            $(".highlight-choice3").attr('disabled', 'disabled');
            $(".flag1-lbl2").css({
                color: "#a9a9a9"
            });
            $(".flag2-lbl2").css({
                color: "#a9a9a9"
            });
            $(".flag3-lbl2").css({
                color: "#a9a9a9"
            });
        }
    }

//    $(document).ready(function() {
//        sliderInit("#issue-slider", "#issue-slider-amount", issuesboundary);
//        sliderInit("#pulls-slider", "#pulls-slider-amount", pullsboundary);
//        sliderInit("#issue-slider2", "#issue-slider-amount2", teamissuesboundary);
//        sliderInit("#pulls-slider2", "#pulls-slider-amount2", teampullsboundary);
//    });
    $(function() {
        setDefaults(issuesboundary, pullsboundary, teamissuesboundary, teampullsboundary, contentteamissuesboundary, contentteampullsboundary);

        sliderInit("#issue-slider", "#issue-slider-amount", issuesboundary);
        sliderInit("#pulls-slider", "#pulls-slider-amount", pullsboundary);
        sliderInit("#issue-slider2", "#issue-slider-amount2", teamissuesboundary);
        sliderInit("#pulls-slider2", "#pulls-slider-amount2", teampullsboundary);
        sliderInit("#issue-slider3", "#issue-slider-amount3", contentteamissuesboundary);
        sliderInit("#pulls-slider3", "#pulls-slider-amount3", contentteampullsboundary);
    });
    $(window).on('load', function() {
        prepRadioBtns();
    });

    $('#flag-issues-chart').change(function(){
       prepRadioBtns();
    });

    $('#flag-pulls-chart').change(function(){
        prepRadioBtns();
    });

    $('#flag-issues-chart2').change(function(){
        prepRadioBtns();
    });

    $('#flag-pulls-chart2').change(function(){
        prepRadioBtns();
    });
    $('#flag-issues-chart3').change(function(){
        prepRadioBtns();
    });

    $('#flag-pulls-chart3').change(function(){
        prepRadioBtns();
    });
    //ajax call for save settings



//    $(".dashboard-ajax-btn2").click(function() {
//        $.ajax({
//            method: "POST",
//            url: "dashboard/edit/team",
//            data: {
//                watchTarget: function() {
//                    return $('#dashboard-watch2 :selected').text();
//                },
//                receiveEmail: function() {
//                    return $("#receive-email2").is(":checked") ? true : false;
//                },
//                flagIssuesChart: function() {
//                    return $("#flag-issues-chart2").is(":checked") ? true : false;
//                },
//                flagPullsChart: function() {
//                    return $("#flag-pulls-chart2").is(":checked") ? true : false;
//                },
//                issueSlider: $("#issue-slider-amount2").html(),
//                pullsSlider: $("#pulls-slider-amount2").html(),
//                showEveryIncrease: function() {
//                    return $('#highlight-every-choice2').is(":checked")? true : false;
//                }
//            }
//        }).done(function(msg) {
//            $(".dashboard-ajax-btn2").html("Saved");
//            setTimeout(function(){
//                $(".dashboard-ajax-btn2").html("Save");
//            }, 1000);
//        });
//    });

    function sliderInit(sliderElem, amountDisplay, boundary) {

        if(boundary === 0) {

        }
        $( sliderElem).slider({
            range: "min",
            value: parseInt(boundary),
            min: 0,
            max: 20,
            step: 1,
            slide: function( event, ui ) {
                $( amountDisplay ).html(ui.value );
            },create: function( event, ui ) {
                console.log(event.target)
                setSliderTicks(event.target);
            }
        });
        $( amountDisplay).html($( sliderElem).slider( "value" ) );


        $('#issue-slider').slider({
            change: function(event, ui) {

                if (ui.value === 0) {
                    issueIsZero = true;
                    if (prIsZero && issueIsZero) {
                        $(".receive-email-chck").attr("checked", false);
                        $(".receive-email-chck").attr('disabled', 'disabled');
                        $(".flag-issues-chart-chck").attr("checked", false);
                        $(".flag-issues-chart-chck").attr('disabled', 'disabled');
                        $(".flag-pulls-chart-chck").attr("checked", false);
                        $(".flag-pulls-chart-chck").attr('disabled', 'disabled');
                        $(".highlight-choice").attr("checked", false);
                        $(".highlight-choice").attr('disabled', 'disabled');
                        $(".radio-label").css({
                            color:"#a9a9a9"
                        });
                        $(".flag1-lbl").css({
                            color:"#a9a9a9"
                        });
                        $(".flag2-lbl").css({
                            color:"#a9a9a9"
                        });
                        $(".flag3-lbl").css({
                            color:"#a9a9a9"
                        });
                    }
                }
                else {
                    issueIsZero = false;

                    $(".receive-email-chck").removeAttr("disabled");
//                    $(".flag-issues-chart-chck").attr("checked", false);
                    $(".flag-issues-chart-chck").removeAttr("disabled");
//                    $(".flag-pulls-chart-chck").attr("checked", false);
                    $(".flag-pulls-chart-chck").removeAttr("disabled");
                    $(".flag1-lbl").css({
                        color:"#000"
                    });
                    $(".flag2-lbl").css({
                        color:"#000"
                    });
                    $(".flag3-lbl").css({
                        color:"#000"
                    });
                }
            }
        });

        $('#issue-slider2').slider({
            change: function(event, ui) {

                if (ui.value === 0) {
                    issueTeamIsZero = true;
                    if (prTeamIsZero && issueTeamIsZero) {
                        $(".receive-email-chck2").attr("checked", false);
                        $(".receive-email-chck2").attr('disabled', 'disabled');
                        $(".flag-issues-chart-chck2").attr("checked", false);
                        $(".flag-issues-chart-chck2").attr('disabled', 'disabled');
                        $(".flag-pulls-chart-chck2").attr("checked", false);
                        $(".flag-pulls-chart-chck2").attr('disabled', 'disabled');
                        $(".highlight-choice2").attr("checked", false);
                        $(".highlight-choice2").attr('disabled', 'disabled');
                        $(".radio-label2").css({
                            color:"#a9a9a9"
                        });
                        $(".flag1-lbl2").css({
                            color:"#a9a9a9"
                        });
                        $(".flag2-lbl2").css({
                            color:"#a9a9a9"
                        });
                        $(".flag3-lbl2").css({
                            color:"#a9a9a9"
                        });
                    }
                }
                else {
                    issueTeamIsZero = false;

                    $(".receive-email-chck2").removeAttr("disabled");
//                    $(".flag-issues-chart-chck").attr("checked", false);
                    $(".flag-issues-chart-chck2").removeAttr("disabled");
//                    $(".flag-pulls-chart-chck").attr("checked", false);
                    $(".flag-pulls-chart-chck2").removeAttr("disabled");
                    $(".flag1-lbl2").css({
                        color:"#000"
                    });
                    $(".flag2-lbl2").css({
                        color:"#000"
                    });
                    $(".flag3-lbl2").css({
                        color:"#000"
                    });
                }
            }
        });

        $('#issue-slider3').slider({
            change: function(event, ui) {

                if (ui.value === 0) {
                    issueContentTeamIsZero = true;
                    if (prContentTeamIsZero && issueContentTeamIsZero) {
                        $(".receive-email-chck3").attr("checked", false);
                        $(".receive-email-chck3").attr('disabled', 'disabled');
                        $(".flag-issues-chart-chck3").attr("checked", false);
                        $(".flag-issues-chart-chck3").attr('disabled', 'disabled');
                        $(".flag-pulls-chart-chck3").attr("checked", false);
                        $(".flag-pulls-chart-chck3").attr('disabled', 'disabled');
                        $(".highlight-choice3").attr("checked", false);
                        $(".highlight-choice3").attr('disabled', 'disabled');
                        $(".radio-label3").css({
                            color:"#a9a9a9"
                        });
                        $(".flag1-lbl3").css({
                            color:"#a9a9a9"
                        });
                        $(".flag2-lbl3").css({
                            color:"#a9a9a9"
                        });
                        $(".flag3-lbl3").css({
                            color:"#a9a9a9"
                        });
                    }
                }
                else {
                    issueContentTeamIsZero = false;

                    $(".receive-email-chck3").removeAttr("disabled");
//                    $(".flag-issues-chart-chck").attr("checked", false);
                    $(".flag-issues-chart-chck3").removeAttr("disabled");
//                    $(".flag-pulls-chart-chck").attr("checked", false);
                    $(".flag-pulls-chart-chck3").removeAttr("disabled");
                    $(".flag1-lbl3").css({
                        color:"#000"
                    });
                    $(".flag2-lbl3").css({
                        color:"#000"
                    });
                    $(".flag3-lbl3").css({
                        color:"#000"
                    });
                }
            }
        });
    }

    function prepRadioBtns() {
        $('#pulls-slider').slider({
            change: function(event, ui) {

                if (ui.value === 0) {
                    prIsZero = true;
                    if (prIsZero && issueIsZero) {
                        $(".receive-email-chck").attr("checked", false);
                        $(".receive-email-chck").attr('disabled', 'disabled');
                        $(".flag-issues-chart-chck").attr("checked", false);
                        $(".flag-issues-chart-chck").attr('disabled', 'disabled');
                        $(".flag-pulls-chart-chck").attr("checked", false);
                        $(".flag-pulls-chart-chck").attr('disabled', 'disabled');
                        $(".highlight-choice").attr("checked", false);
                        $(".highlight-choice").attr('disabled', 'disabled');
                        $(".radio-label").css({
                            color:"#a9a9a9"
                        });
                        $(".flag1-lbl").css({
                            color:"#a9a9a9"
                        });
                        $(".flag2-lbl").css({
                            color:"#a9a9a9"
                        });
                        $(".flag3-lbl").css({
                            color:"#a9a9a9"
                        });
                    }
                }
                else {
                    prIsZero = false;
                     $(".receive-email-chck").removeAttr("disabled");
//                    $(".flag-issues-chart-chck").attr("checked", false);
                    $(".flag-issues-chart-chck").removeAttr("disabled");
//                    $(".flag-pulls-chart-chck").attr("checked", false);
                    $(".flag-pulls-chart-chck").removeAttr("disabled");
                    $(".flag1-lbl").css({
                        color:"#000"
                    });
                    $(".flag2-lbl").css({
                        color:"#000"
                    });
                    $(".flag3-lbl").css({
                        color:"#000"
                    });
                }
            }

        });


        $('#pulls-slider2').slider({
            change: function(event, ui) {

                if (ui.value === 0) {
                    prTeamIsZero = true;
                    if (prTeamIsZero && issueTeamIsZero) {
                        $(".receive-email-chck2").attr("checked", false);
                        $(".receive-email-chck2").attr('disabled', 'disabled');
                        $(".flag-issues-chart-chck2").attr("checked", false);
                        $(".flag-issues-chart-chck2").attr('disabled', 'disabled');
                        $(".flag-pulls-chart-chck2").attr("checked", false);
                        $(".flag-pulls-chart-chck2").attr('disabled', 'disabled');
                        $(".highlight-choice2").attr("checked", false);
                        $(".highlight-choice2").attr('disabled', 'disabled');
                        $(".radio-label2").css({
                            color:"#a9a9a9"
                        });
                        $(".flag1-lbl2").css({
                            color:"#a9a9a9"
                        });
                        $(".flag2-lbl2").css({
                            color:"#a9a9a9"
                        });
                        $(".flag3-lbl2").css({
                            color:"#a9a9a9"
                        });
                    }
                }
                else {
                    prTeamIsZero = false;
                    $(".receive-email-chck2").removeAttr("disabled");
//                    $(".flag-issues-chart-chck").attr("checked", false);
                    $(".flag-issues-chart-chck2").removeAttr("disabled");
//                    $(".flag-pulls-chart-chck").attr("checked", false);
                    $(".flag-pulls-chart-chck2").removeAttr("disabled");
                    $(".flag1-lbl2").css({
                        color:"#000"
                    });
                    $(".flag2-lbl2").css({
                        color:"#000"
                    });
                    $(".flag3-lbl2").css({
                        color:"#000"
                    });
                }
            }

        });



        $('#pulls-slider3').slider({
            change: function(event, ui) {

                if (ui.value === 0) {
                    prContentTeamIsZero = true;
                    if (prContentTeamIsZero && issueContentTeamIsZero) {
                        $(".receive-email-chck3").attr("checked", false);
                        $(".receive-email-chck3").attr('disabled', 'disabled');
                        $(".flag-issues-chart-chck3").attr("checked", false);
                        $(".flag-issues-chart-chck3").attr('disabled', 'disabled');
                        $(".flag-pulls-chart-chck3").attr("checked", false);
                        $(".flag-pulls-chart-chck3").attr('disabled', 'disabled');
                        $(".highlight-choice3").attr("checked", false);
                        $(".highlight-choice3").attr('disabled', 'disabled');
                        $(".radio-label3").css({
                            color:"#a9a9a9"
                        });
                        $(".flag1-lbl3").css({
                            color:"#a9a9a9"
                        });
                        $(".flag2-lbl3").css({
                            color:"#a9a9a9"
                        });
                        $(".flag3-lbl3").css({
                            color:"#a9a9a9"
                        });
                    }
                }
                else {
                    prContentTeamIsZero = false;
                    $(".receive-email-chck3").removeAttr("disabled");
//                    $(".flag-issues-chart-chck").attr("checked", false);
                    $(".flag-issues-chart-chck3").removeAttr("disabled");
//                    $(".flag-pulls-chart-chck").attr("checked", false);
                    $(".flag-pulls-chart-chck3").removeAttr("disabled");
                    $(".flag1-lbl3").css({
                        color:"#000"
                    });
                    $(".flag2-lbl3").css({
                        color:"#000"
                    });
                    $(".flag3-lbl3").css({
                        color:"#000"
                    });
                }
            }

        });
        if($('#flag-pulls-chart').is(":checked") || $('#flag-issues-chart').is(":checked")){
            $(".highlight-choice").removeAttr('disabled');
            $(".radio-label").css({
                color:"#000"
            });
        }else{
            $(".highlight-choice").attr('disabled', 'disabled');
            $(".highlight-choice").attr("checked", false);
            $(".radio-label").css({
                color:"#a9a9a9"
            });
        }
        if($('#flag-pulls-chart2').is(":checked") || $('#flag-issues-chart2').is(":checked")){
            $(".highlight-choice2").removeAttr('disabled');
            $(".radio-label2").css({
                color:"#000"
            });
        }else{
            $(".highlight-choice2").attr('disabled', 'disabled');
            $(".highlight-choice2").attr("checked", false);
            $(".radio-label2").css({
                color:"#a9a9a9"
            });
        }
        if($('#flag-pulls-chart3').is(":checked") || $('#flag-issues-chart3').is(":checked")){
            $(".highlight-choice3").removeAttr('disabled');
            $(".radio-label3").css({
                color:"#000"
            });
        }else{
            $(".highlight-choice3").attr('disabled', 'disabled');
            $(".highlight-choice3").attr("checked", false);
            $(".radio-label3").css({
                color:"#a9a9a9"
            });
        }
    }




    function setSliderTicks(el) {
        var $slider =  $(el);
        var max =  $slider.slider("option", "max");
        var min =  $slider.slider("option", "min");
        var spacing =  100 / (max - min);

        $slider.find('.ui-slider-tick-mark').remove();
        for (var i = 0; i < max-min ; i++) {

            $('<span class="ui-slider-tick-mark"></span>').css('left', (spacing * i) +  '%').appendTo($slider);
        }
    }






</script>
<script src="/js/colorPicker.js"></script>
<div class="line-break"></div>
<div class="both-color-box-wrap">
    <div class="color-box-title">Change Chart Color</div>
    <div class="start-color-wrap">
        <ul class="start-color-list">
            <li class="start-color"><div class="start-color-text">Gradient Start: </div></li>
            <li><div class="start-color-box"></div></li>
        </ul>
    </div>


    <div class="end-color-wrap">
        <ul class="end-color-list">
            <li class="end-color"><div class="end-color-text"> &nbsp;Gradient End:&nbsp;</div></li>
            <li><div class="end-color-box"></div></li>
        </ul>
    </div>
    <div class="bottom-default-link-wrap">
        <div class="complete-default">Default Colour</div>
    </div>
</div>
    <div class="color-box-wrap">
        <div class="color-picker-wrap">
            <div class="color-widget" onclick="colorPick(event)">
                <form id="frm1" >
                    <span style="color:#fff">Color:</span> <input id="coloredvalue" value="" disabled style="border-radius: 5px;border:2px solid #607d8b; line-height:20px;padding-left: 5px;font-weight: bold;"><br>
                </form>
            </div>


    </div>
<div class="line-break"></div>
    <!--<div class="default-colour">Default Colour</div>-->
</div>

<script>
    setUpBoxButtons();
</script>
<br><br>
<div class="dashboard-ajax-btn">Save</div>

</div>
<script>



    $(".dashboard-ajax-btn").click(function() {
        $.ajax({
            method: "POST",
            url: "dashboard/edit/repo",
            data: {
                watchTarget: function() {
                    return $('#dashboard-watch1 :selected').text();
                },
                receiveEmail: function() {
                    return $("#receive-email").is(":checked") ? true : false;
                },
                flagIssuesChart: function() {
                    return $("#flag-issues-chart").is(":checked") ? true : false;
                },
                flagPullsChart: function() {
                    return $("#flag-pulls-chart").is(":checked") ? true : false;
                },
                issueSlider: $("#issue-slider-amount").html(),
                pullsSlider: $("#pulls-slider-amount").html(),
                showEveryIncrease: function() {
                    return $('#highlight-every-choice').is(":checked")? true : false;
                },
                watchTeamTarget: function() {
                    return $('#dashboard-watch2 :selected').text();
                },
                receiveTeamEmail: function() {
                    return $("#receive-email2").is(":checked") ? true : false;
                },
                flagTeamIssuesChart: function() {
                    return $("#flag-issues-chart2").is(":checked") ? true : false;
                },
                flagTeamPullsChart: function() {
                    return $("#flag-pulls-chart2").is(":checked") ? true : false;
                },
                issueTeamSlider: $("#issue-slider-amount2").html(),
                pullsTeamSlider: $("#pulls-slider-amount2").html(),
                showEveryTeamIncrease: function() {
                    return $('#highlight-every-choice2').is(":checked")? true : false;
                },
                watchContentTeamTarget: function() {
                    return $('#dashboard-watch3 :selected').text();
                },
                receiveContentTeamEmail: function() {
                    return $("#receive-email3").is(":checked") ? true : false;
                },
                flagContentTeamIssuesChart: function() {
                    return $("#flag-issues-chart3").is(":checked") ? true : false;
                },
                flagContentTeamPullsChart: function() {
                    return $("#flag-pulls-chart3").is(":checked") ? true : false;
                },
                issueContentTeamSlider: $("#issue-slider-amount3").html(),
                pullsContentTeamSlider: $("#pulls-slider-amount3").html(),
                showEveryContentTeamIncrease: function() {
                    return $('#highlight-every-choice3').is(":checked")? true : false;
                },
                chartColour: function() {
                    var colour = localStorage.getItem("chartColor");
                    localStorage.setItem("chartColor", "");
                    if(colour === "") {
                        return "#4E87B2";
                    } else {
                        return colour;
                    }
                },
                endChartColour: function() {
                    var colour = localStorage.getItem("endChartColor");
                    localStorage.setItem("endChartColor", "");
                    if(colour === "") {
                        return "#c6dbef";
                    } else {
                        return colour;
                    }
                }
            }
        }).done(function(msg) {
            $(".dashboard-ajax-btn").html("Saved");
            setTimeout(function(){
                $(".dashboard-ajax-btn").html("Save");
            }, 1000);
        });



    });
</script>
</body>
</html>