<html>
<title>Dashboard</title>
<meta charset='utf-8'>
<link rel='stylesheet' href='/css/jqit.css' />
<script src="/js/external/jquery-1.11.3.min.js"></script>
<script src="/js/external/d3.v3.min.js"></script>
<script src="/js/external/tinysort.js"></script>
<script src="/js/external/scrilla.js"></script>
<script src="/js/sortTable.js"></script>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
flagData = <%- JSON.stringify(flag) %>
var issuesboundary, pullsboundary, receiveEmail, highlightchart, showeveryincrease;
    if(flagData === null) {
        issuesboundary = 1;
        pullsboundary = 1;
        receiveEmail = false;
        highlightissueschart = false;
        highlightpullschart = false;
        showeveryincrease = false;
    } else {
        issuesboundary = flagData.issues_boundary;
        console.log(issuesboundary)
        pullsboundary = flagData.pulls_boundary;
        console.log(pullsboundary)
        receiveEmail = flagData.receive_email;
        highlightissueschart = flagData.highlight_issues_chart;
        highlightpullschart = flagData.highlight_pulls_chart;
        showeveryincrease = flagData.show_every_increase;
    }
</script>
<% include partials/header.html %>
<a href="/">back</a>
<br><br><br>
<select name="dashboard-watch1" id="dashboard-watch1">
    <option value="title">Watch</option>
    <% for (var i = 0; i < compDoc.length; i++) {
    var targetedRepo = flag === null ? "" : flag.target;
    if(compDoc[i].name === targetedRepo) { %>
                <option value="<%= compDoc[i].name %>" selected><%= compDoc[i].name %></option>
          <%  } else { %>
                <option value="<%= compDoc[i].name %>"><%= compDoc[i].name %></option>
           <% } %>
    <% } %>
</select>

<div>Issues increase limit: <span id="issue-slider-amount"></span></div>
<div id="issue-slider"></div>
<div>Pull Requests increase limit: <span id="pulls-slider-amount"></span></div>
<div id="pulls-slider"></div>
<input type="checkbox" id="receive-email" class="receive-email-chck">
<label for="receive-email">Receive Email</label>
<br>
<input type="checkbox" id="flag-issues-chart" class="flag-pulls-chart-chck">
<label for="flag-issues-chart">Flag issues increase in chart</label>
<br>
<input type="checkbox" id="flag-pulls-chart" class="flag-issues-chart-chck">
<label for="flag-pulls-chart">Flag pull requests increase in chart</label>
<br>
<script>

</script>
<div class="radio-highlight-choice">
    <input class="highlight-choice" id="highlight-every-choice" type="checkbox" name="highlight-option" value="every-increase">
    <label  class="radio-label" for="highlight-every-choice">Highlight every increase</label>
</div>
<div class="dashboard-ajax-btn">Save</div>
<div class="feedback"></div>
<script>
    if(receiveEmail === "true"){
        $("#receive-email").attr("checked", true);
    }
    if(highlightissueschart === "true"){
        $("#flag-issues-chart").attr("checked", true);
    }
    if(highlightpullschart === "true"){
        $("#flag-pulls-chart").attr("checked", true);
    }
    if(showeveryincrease === "true") {
        $("#highlight-every-choice").attr("checked", true);
    }
</script>
<script>
    //function to handle the slider setup
    $(function() {
        sliderInit("#issue-slider", "#issue-slider-amount", issuesboundary);
        sliderInit("#pulls-slider", "#pulls-slider-amount", pullsboundary);

    });
    $(window).on('load', function() {
        prepRadioBtns();
    });

    $('#flag-issues-chart').change(function(){
       prepRadioBtns();
    });

    $('#flag-pulls-chart').change(function(){
        prepRadioBtns();
    });
    //ajax call for save settings
    $(".dashboard-ajax-btn").click(function() {
        $.ajax({
            method: "POST",
            url: "dashboard/edit",
            data: {
                watchTarget: function() {
                    return $('#dashboard-watch1 :selected').text();
                },
                receiveEmail: function() {
                    return $("#receive-email").is(":checked") ? true : false;
                },
                flagIssuesChart: function() {
                    return $("#flag-issues-chart").is(":checked") ? true : false;
                },
                flagPullsChart: function() {
                    return $("#flag-pulls-chart").is(":checked") ? true : false;
                },
                issueSlider: $("#issue-slider-amount").html(),
                pullsSlider: $("#pulls-slider-amount").html(),
                showEveryIncrease: function() {
                    return $('#highlight-every-choice').is(":checked")? true : false;
                }
            }
        }).done(function(msg) {
            $(".dashboard-ajax-btn").html("Saved");
            setTimeout(function(){
                $(".dashboard-ajax-btn").html("Save");
            }, 1000);
        });
    });

    function sliderInit(sliderElem, amountDisplay, boundary) {
        $( sliderElem).slider({
            range: "min",
            value: parseInt(boundary),
            min: 1,
            max: 20,
            step: 1,
            slide: function( event, ui ) {
                $( amountDisplay ).html(ui.value );
            }
        });
        $( amountDisplay).html($( sliderElem).slider( "value" ) );
    }

    function prepRadioBtns() {
        if($('#flag-pulls-chart').is(":checked") || $('#flag-issues-chart').is(":checked")){
            $(".highlight-choice").removeAttr('disabled');
            $(".radio-label").css({
                color:"#000"
            });
        }else{
            $(".highlight-choice").attr('disabled', 'disabled');
            $(".highlight-choice").attr("checked", false);
            $(".radio-label").css({
                color:"#a9a9a9"
            });
        }
    }
</script>


</body>
</html>