<!doctype html>
<html>
<head>
	<title>Issue Tracker</title>
    <meta charset='utf-8'>
	<script src="/js/external/jquery-1.11.3.min.js"></script>
    <script src="/js/external/d3.v3.min.js"></script>
    <script src="/js/external/tinysort.js"></script>
    <script src="/js/external/scrilla.js"></script>
    <script src="/js/sortTable.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/css/jqit.css' />
    <script>
        var socket = io();
    </script>

    <script>
      var cd = <%- JSON.stringify(pullsNo) %>
      var pd = <%- JSON.stringify(completeD) %>
      var flagData = <%- JSON.stringify(flagData) %>
console.log("Flag Data: " ,flagData)
/**
 * The pd variable contains all the data needed for each of the repositories
 * The values are set out as the example below displays.
 *
 * forks: 16
 * github_url: "https://github.com/jquery/jquery.github.io"
 * issues: 0
 * name: "jquery.github.io"
 * pulls: "0"
 * watchers: 6
 *
 * **/



      pd.pop(pd.length-1)
    </script>
</head>
<body>
<% include partials/header.html %>
<div class="pie"></div>
<div class="body-wrap">
<table class="props xmpl" id="xtable">
  <thead>
  <tr >
    <th class="head">Name</th>
    <th class="head">Issues</th>
    <th class="head">PR's</th>
    <th class="head">Forks</th>
    <th class="head">Watchers</th>
    <th class="head github-head">GitHub</th>
  </tr>
  </thead>
  <tbody>
    <% for (var i = 0; i < completeD.length; i++) {
        var calculatedIssues = completeD[i].issues - completeD[i].pulls;
        calculatedIssues = calculatedIssues < 0 ? 0 : calculatedIssues;
        var targetedRepo = flagData === null ? "" : flagData.target;

       if(completeD[i].name === targetedRepo){ %>
            <tr id="flagged">
       <% } else { %>
            <tr>
       <% }  %>
        <td ><a class="index-name-link" href=repo/details/<%= names[i] %>> <%- completeD[i].name%></a></td>
        <td ><%= calculatedIssues %></td>
        <td ><%- completeD[i].pulls%></td>
        <td><%- completeD[i].forks%></td>
        <td><%- completeD[i].watchers%></td>
    <td class="github-detail"><a class="index-github-link" target="_blank" href=<%- completeD[i].github_url%>> <%- completeD[i].github_url%></a></td>
  </tr>
<% } %>
  </tbody>
</table>
<script>
    sortTable();
</script>

<div class="chart-area"></div>
<p><%= username %>
<div class="button-wrap">
<% for (var i = 0; i < names.length; i++) { %>
   <a href=repo/details/<%= names[i] %>><div class="open-issue-repo"><%= names[i] %><span class="issue-count" ><%= issuesNo[i] %></span></div></a>
<% } %>
</div>
<script>
var data = <%- JSON.stringify(completeDoc) %>

scroller.init();

    socket.on("userStatus", function(socket) {
        console.log(socket)
    });

    $("#gitlogout").on("click", function() {
        socket.emit("logout-hit");
    });
</script>
</div>
</body>
</html>
