<html>
<head>
	<title>Issue Tracker</title>
	<link rel='stylesheet' href='/css/style.css' />
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/js/scrilla.js"></script>
</head>
<body>
<div class="button-wrap">
<% for (var i = 0; i < names.length; i++) { %>
   <a href=repo/details/<%= names[i] %>><div class='open-issue-repo'><%= names[i] %><span class='issue-count' ><%= issuesNo[i] %></span></div></a>   
<% } %> 
</div>
<script>
scroller.init(); 
</script>
</body>
</html>