<html>
<head>
	<title>Repository Details</title>
	<link rel='stylesheet' href='/css/style.css' />
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="/js/chart.js"></script>
	   <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
 
   <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <script src="/js/scrilla.js"></script>
<style>
      
    </style>

</head>
<body>
<% include partials/header.html %>
  <div id=chartArea></div>
  <div id=chartArea2></div>
<script>
//this section of code displays how to pass a nodejs value to ejs and then on to code
//within script tags it can then be used anyhow you wish 
//not ch is an array or json value set
var dt = <%- JSON.stringify( fullDate) %>
var v = <%- JSON.stringify(ch) %>
var p = <%- JSON.stringify(events) %>
admin = [];
for(var l in p) {
 admin.push({'user': l, 'closed': p[l]})
}
jSonArr = JSON.stringify(admin)
arr = [];
dataset = [];
for(var k in v) {
    arr.push({'date': v[k].date, 'issues': v[k].issues});
    dataset.push(v[k].issues);
}
    
var jArr = JSON.stringify(arr);
setIssuesChart(arr);
if(!issueStatus) {
    var el = document.getElementById('chartArea');
    el.innerHTML = 'There have been no issues in the last 30 days';
    el.setAttribute('class', 'status');
}
setClosureChart(admin);
</script>
  <div class="body-wrap">
  <section class="item"></section>


	 <h1><%= data.name %></h1>
    <%-

      visualHelper.resolveChart({
        data: ch,
        width: 1100,
        height: 600,
        xAxisLabel: 'Last 30 Days',
        yAxisLabel: 'issues',
        containerId: 'bar-chart-large'
      });  
    %>
 
<p><b>Repository name:</b> <%= data.name %></p>
<p><b> GitHub Url: </b> &nbsp;<a href=<%= data.html_url %> target=_blank><%= data.html_url %></a></p>
<p><b> Open Issues: </b> <%= data.open_issues %>&nbsp;<a href=../issue/details/<%= data.name %>>Details</a></p>
<p><b> Closed issues: </b> <%= closedissues %></p>
<p><b> Pull Requests: </b> <%= pullRequestNo %></p>
<p><b> Closed Pull Requests: </b> <%= closedPulls %></p>
<p><b> Stars: </b> <%= data.watchers_count %></p>
<p><b> Created at: </b> <%= data.created_at %></p>
<p><b> Description: </b> <%= data.description %></p>
<p><b> Number of forks: </b> <%= data.forks_count %></p>
<p><b> Average time to close issues: </b> <%= avgIssues %></p>
<p><b> Average time to close pull request: </b> <%= avgPulls %></p>
<p><b> Age of oldest pull request: </b> <%= pullRange %></p>
<p><b> Age of oldest issue: </b> <%= issueRange %></p>
<p><b>Closures: </b><br>
<%for (var key in events){ %>
     <%= key + ' : ' + events[key] ; %> <br>
     <% } %></p>
<p></p>
<p>Commits URL: <a href=<%= url.commits %>><%= url.commits %></a></p>
<div class="button-wrap-static">
<% for (var i = 0; i < history.length; i++) { %>
   <%      
   	date = history[i].split('-');
   	cd = date[2]+ " " + date[1] + " " + date[0]
   %>
<div  class='open-issue-repo'><%= cd %><span class='issue-count'><%= issuesTrend[i] %></span></div>  
<% i} %> 
</div>

<script>
console.log(v)
    barInfo(v);
</script>
</div>
<script>
    scroller.init(); 
</script>
</body>
</html>
