<html>
   <head>
      <title>Repository Details</title>
      <meta charset="utf-8">
      <link rel='stylesheet' href='/css/style.css' />
      <script src="/js/external/jquery-1.11.3.min.js"></script>
      <script src="/js/external/underscore1.8.3.js"></script>
      <script src="/js/chart.js"></script>
      
      <script>
         //this section of code displays how to pass a nodejs value to ejs and then on to code
         //within script tags it can then be used anyhow you wish 
         //not ch is an array or json value set
         
         var allIssuesHistory = <%- JSON.stringify(allRepoHistory) %>
         var allPullsHistory = <%- JSON.stringify(allRepoPullsHistory) %>
         var repoData = <%- JSON.stringify(repoData) %>
         var dt = <%- JSON.stringify( fullDate) %>
         var pdt = <%- JSON.stringify( fullPullDate) %>
         var v = <%- JSON.stringify(ch) %>
         var pr = <%- JSON.stringify(chPull) %>   
         pr = pr.slice(-30) // return correct array amount for pulls history chart
         var p = <%- JSON.stringify(events) %>
         var old = <%- JSON.stringify(oldIssueUrl) %>
         var newestIssue = <%- JSON.stringify(newIssueUrl) %>
         var temp = v;
         console.log(v)
         var temp2 = pr;
         var issuesMonthlyAvg = getMonthAvg(v, 'issues');
         var pullsMonthlyAvg = getMonthAvg(pr, 'pulls');
         console.log(issuesMonthlyAvg, pullsMonthlyAvg)
      </script>
      <script src="/js/detectResize.js"></script>
      <script src="/js/external/d3.v3.min.js"></script>
      <script src="/js/external/d3.tip.v0.6.3.js"></script>
      <script src="/js/scrilla.js"></script>
      <style>
      </style>
   </head>
   <body>
     
      <div id=changeView></div>
      <div id=changeView2></div>
      <div id=display-data-info></div>
      <div class=details></div>
      <div class=compare-issues-info></div>
      <div class=compare-pulls-info></div>  
      <div class=comparison-legend></div>
      <div class=multi-comparison-legend></div>
      <div class=multi-comparison></div>
      
      <div class=compareChart></div>
      <div class=multi-compareChart></div>
      <div id=chartArea></div>
      <div id=chartArea2></div>
      <div class='point point2'></div>
      <script>
        var issuesArr = [], pullsArr = [];
        setCharts();
      </script>
      <div class="body-wrap">
         <div class="average"></div>
         <section class="item"></section>
         <h1 class=current-repo><%= data.name %></h1>
         <p><b>Repository name:</b> <%= data.name %></p>
         <p><b> GitHub Url: </b> &nbsp;<a href=<%= data.html_url %> target=_blank><%= data.html_url %></a></p>
         <p><b> Open Issues: </b> <%= data.open_issues %>&nbsp;<a href=../issue/details/<%= data.name %>>Details</a></p>
         <p><b> Closed issues: </b> <%= closedissues %></p>
         <p><b> Pull Requests: </b> <%= pullRequestNo %></p>
         <p><b> Closed Pull Requests: </b> <%= closedPulls %></p>
         <p><b> Stars: </b> <%= data.watchers_count %></p>
         <p><b> Created at: </b> <%= data.created_at %></p>
         <p><b> Description: </b> <%= data.description %></p>
         <p><b> Number of forks: </b> <%= data.forks_count %></p>
         <p><b> Average time to close issues: </b> <%= avgIssues %></p>
         <p class='old'>
            <b> Age of oldest issue: </b> <%= issueRange %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <script>
               $('.btn').on('click', function() {
                 if($('#chartArea').is(":visible")) { 
                     $('.average').html('Month Average: ' + pullsMonthlyAvg)
                  } else if($('#chartArea').is(":hidden")) { 
                      $('.average').html('Month Average: ' + issuesMonthlyAvg)
                  }
               });

               if(old !== null){
                   $('.old').append('<a href='+ old +' target=_blank>Go To Oldest Issue</a>');
               }
            </script>
         </p>
         <p class='newest'>
            <b> Age of newest issue: </b> <%= newRange %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <script>
               if(newestIssue !== null){
                   $('.newest').append('<a href='+ newestIssue +' target=_blank>Go To Newest Issue</a>');
               }

            </script>
         </p>
         <p><b> Average time to close pull request: </b> <%= avgPulls %></p>
         <p><b> Age of oldest pull request: </b> <%= pullRange %></p>
         <p><b>Closures: </b><br>
            <%for (var key in events){ %>
            <%= key + ' : ' + events[key] ; %> <br>
            <% } %>
         </p>
         <p></p>
         <p>Commits URL: <a href=<%= url.commits %>><%= url.commits %></a></p>
         <div class="button-wrap-static">
            <% for (var i = 0; i < history.length; i++) { %>
            <%      
               date = history[i].split('-');
               cd = date[2]+ " " + date[1] + " " + date[0]
               %>
            <div  class='open-issue-repo'><%= cd %><span class='issue-count'><%= issuesTrend[i] %></span></div>
            <% i} %> 
         </div>
      </div>
      <script>
         scroller.init(); 
      </script> 
   </body>
</html> 