<html>
<head>
    <title>Repository Details</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="/js/external/jquery-1.11.3.min.js"></script>
    <script src="/js/external/lodash.min.js"></script>
    <script src="/js/external/scrilla.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/ajax-calls.js"></script>
    <script src="/js/events.js"></script>
    <link rel='stylesheet' href='/css/jqit.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script>

        var socket = io();

         //this section of code displays how to pass a nodejs value to ejs and then on to code
         //within script tags. It can then be used anyhow you wish.
        var isIssuesHighlighted = false;
        var isPullsHighlighted = false;
        var issuesLimit = null;
        var pullsLimit = null;
        var homeRepository = window.location.pathname.split("/")[3];
        var flagdata = {};
        flagdata = <%- JSON.stringify(flagData) %>
        wholeData = <%- JSON.stringify(data) %>
        ipred = <%- JSON.stringify(ipred) %>
        prpred = <%- JSON.stringify(prpred) %>
        var oldPRURL = <%- JSON.stringify(oldPRURL) %>

        var username =  <%- JSON.stringify(username) %>
        var email =  <%- JSON.stringify(email) %>
        var avgIssues =  <%- JSON.stringify(avgIssues) %>
        var chartColour = <%- JSON.stringify(chartColour) %>
        var endChartColour = <%- JSON.stringify(endChartColour) %>
        var isPinned = <%- JSON.stringify(isPinned) %>
         if(flagdata !== null) {

            everyIncrease = false;
            if(flagdata.show_every_increase === "true") {
               everyIncrease = true;
            } else {
               everyIncrease = false;
            }
            if(flagdata.highlight_issues_chart === "true") {

               isIssuesHighlighted = true;
               issuesLimit = flagdata.issues_boundary
            } else {
               isIssuesHighlighted = false;
            }

            if(flagdata.highlight_pulls_chart === "true") {
               isPullsHighlighted = true;
               pullsLimit = flagdata.pulls_boundary
            } else {
               isPullsHighlighted = false;
            }
         }



         console.log("Issues:",isIssuesHighlighted);
         console.log("Pulls:",isPullsHighlighted);
         console.log("Issues_boundary:",issuesLimit);
         console.log("Pulls_boundary:",pullsLimit);

         var allIssuesHistory = <%- JSON.stringify(allRepoHistory) %>
         var allPullsHistory = <%- JSON.stringify(allRepoPullsHistory) %>


        var repoData = <%- JSON.stringify(repoData) %>

         var dt = <%- JSON.stringify( fullDate) %>
         sd = dt[0].split("T")[0];
         var pdt = <%- JSON.stringify( fullPullDate) %>
         var v = <%- JSON.stringify(ch) %>

         var pr = <%- JSON.stringify(chPull) %>

         pr = pr.slice(-29) // return correct array amount for pulls history chart
         var p = <%- JSON.stringify(events) %>
         var old = <%- JSON.stringify(oldIssueUrl) %>
         var newestIssue = <%- JSON.stringify(newIssueUrl) %>
         var temp = v;
         var temp2 = pr;
         var iDiff = getDiff(v, true);
         var pDiff = getDiff(pr, false);
         var issueflagsIndexs = null;
         var pullsflagsIndexs = null;
         var startDate = dt[0].split("T")[0];
         if(flagdata !== null) {

            if(flagdata.highlight_issues_chart === "true") {
               issueflagsIndexs = checkIncrease(v, issuesLimit, everyIncrease, "issues"); //check for issues increases
            }

            if(flagdata.highlight_pulls_chart === "true") {
               pullsflagsIndexs = checkIncrease(pr, pullsLimit, everyIncrease, "pulls"); //check for issues increases
            }
         }


         console.log(iDiff + "\n",pDiff);
         console.log("issues result:",issueflagsIndexs)
         console.log("pulls result:",pullsflagsIndexs)
         var totals = getRepoPercentage(repoData);
         var foundationPullsAvg = totals.foundationPullsAverage.toFixed(2);
         var foundationIssuesAvg = totals.foundationIssuesAverage.toFixed(2);
         var issuesMonthlyAvg = getMonthAvg(v, 'issues');
         var pullsMonthlyAvg = getMonthAvg(pr, 'pulls');



      </script>
      <script src="/js/detectResize.js"></script>
      <script src="/js/external/d3.v3.min.js"></script>
      <script src="/js/external/d3.tip.v0.6.3.js"></script>
    <script>

    </script>

    <style>
      </style>
   </head>
<body>
   <% include partials/header.html %>
   <div id="top-bar">
       <ul class="top-bar-element-list">
           <li class="change-up"><div id=changeView></div></li>
           <li><div id=changeView2></div></li>
           <!--<li><div id=display-data-info></div></li>-->
           <!--<li><div class=details></div></li>-->
           <li><div class=compare-issues-info></div></li>
           <li><div class=compare-pulls-info></div></li>
           <li><div class=trigger-btn></div></li>

           <li><div class=loc-link><a href="../issue/details/<%= data.name %>">List of Issues</a></div></li>

           <!--<span class="prev-issue-chart">⮂</span> <span class="next-issue-chart">⮀</span>&lt;!&ndash; ⮀&ndash;&gt;-->
       </ul>
       <span class="home-btn-wrap"><a class='home-btn' href="/">Home</a><span class="bar">|</span></span>
   </div>

   <div class="complete-compare-overlay"></div>
   <div class="compare-overlay"><img src="/img/clear_dot.gif" class="close-img" alt="">
       <div class=compareChart></div>
       <div class=comparison-legend></div>
       <div class="away-comp"></div>
       <div class="home-comp"></div>
       <div class="away-range"></div>
       <div class="home-range"></div>
       <div class="away-avg-closure-title"></div>
       <div class="home-avg-closure-title"></div>
       <div class="away-avg"></div>
       <div class="home-avg"></div>
   </div>
      <div id=chartArea></div>
      <div id=chartArea2></div>
      <script>
          $chartRange = $(".range");
          $prevChartVal = $(".prev-issue-chart");
          $nextChartVal = $(".next-issue-chart");     
      </script>
<div class="line-break-with-brder"></div>
   <div class="mid-range-wrap">
       <div class="mid-range-header">   Issues and Pull Requests    </div>

       <div class="pie-chart-wrap">

       <p class="pie-toggle-link"><span class="pie-link i">Issues</span> | <span class="pie-link p">Pull Requests</span></p>
       <div id="issues-pie-chart"></div>
       <div id="pulls-pie-chart"></div>
       <div class="pie-visual-details-wrap">
          <div class="total-avg-issues">
               <div class="avg-issue-text">Issues</div>
                   <div class="issues-val"></div>
                   <div class="i-val-wrap">
                        <div class="avg-issue-value"></div>
                        <span class="avg-issues-explanation a-i-e">Of all jQuery issues</span>
                   </div>
           </div>
           <div class="total-avg-pulls">
               <div class="avg-pulls-text">Pull Requests</div>
               <div class="pulls-val"></div>
               <div class="p-val-wrap">
                    <div class="avg-pulls-value"></div>
                   <span class="avg-pulls-explanation">Of all jQuery Pull Requests</span>
               </div>
           </div>
       </div>
   </div>
   </div>
<div class="line-break"></div>
  <div class="line-break-with-brder"></div>
   <div class="lower-range-wrap">
       <div class="lower-range-header">   Issues and Pull Requests Information  </div>
<div class="closed-data-wrap">

    <div class="closed-data">
        <div class="complete-clsd-wrap">
         <div class="clsd-visual-details-wrap">
          <div class="total-clsd-issues">
               <div class="clsd-issue-text">Closed Issues</div>
               <div class="clsd-issues-val"><%= closedissues %></div>
               <div class="i-val-wrap">
                  <div class="clsd-issue-value">Average time to close issues:</div>
                  <span class="clsd-issues-explanation a-i-e"><%= avgIssues %></span>
               </div>
           </div>
           <div class="total-clsd-pulls">
               <div class="clsd-pulls-text">Closed Pull Requests</div>
               <div class="clsd-pulls-val"><%= closedPulls %></div>
               <div class="p-val-wrap">
                    <div class="clsd-pulls-value">Average time to close pull request:</div>
                   <span class="clsd-pulls-explanation"><%= avgPulls %></span>
               </div>
           </div>
       </div>
           <div class="clsd-visual-details-left-wrap">
               <div class="open-avg-issue-text avg-first-el"><span class="average-open-text">Average age of open issues:</span><br> <%= averageAgeOfOpenIssues %></div>
               <div class="open-avg-pulls-text"><span class="average-open-text">Average age of open Pull Requests:</span><br> <%= averageAgeOfOpenPRs %></div>
               <div class="oldest-issue-text"><span class="average-open-text">Age of oldest issues:</span><br> <%= issueRange %>
                   <p class="goto-oldest-issue old"></p></div>
               <div class="oldest-pulls-text"><span class="average-open-text">Age of oldest Pull Request:</span><br class="pr-break"> <%= pullRange %><p class="goto-oldest-pr old-pr"></p></div>
           </div>
       </div>
    </div>
    <div class="avg-close-time"></div>
</div>

<div class="line-break"></div>
   </div>
<br><br>
   <div class=multi-comparison-legend></div>

   <div class=multi-compareChart></div>
   <div class=multi-comparison></div>   <a class="anchor" name="multichart-anchor"></a>

       <div class="compare-chart2-wrap">
            <div class=compareChart2></div>
       </div>
<script>
var issuesArr = [], issuesArrSpare = [], pullsArr = [], pullsArrSpare = [];
        setCharts(issueflagsIndexs, pullsflagsIndexs, false, undefined, chartColour, endChartColour);
        </script>
<div class='point point2'></div>
   <input class="range" value=2 hidden>
   <!--<p class="attention-marker"></p>-->
   <div class="repo-detail-body-wrap">
         <!--<div class="average"></div>-->
         <section class="item"></section>


       <div class="complete-data-table">
           <table class="props xmpl closure-table" id="xtable">
               <thead>
               <tr >
                   <th class="head" colspan="2">Closures</th>

               </tr>
               <tr >
                   <th class="head">User</th>
                   <th class="head">Closed</th>
               </tr>
               </thead>
               <tbody>



               <%for (var key in events){ %>
               <tr>
                   <td><%= key %></td><td><%= events[key] %></td>
               </tr>
               <% } %>



               </tbody>
           </table>

       </div>
       <br><br>
       <% var dateStr =  new Date(data.created_at.split('T')[0]).toString()
       dateStr = dateStr.split(" ")[0] +  " " +dateStr.split(" ")[1] +  " " +dateStr.split(" ")[2] +  " " +dateStr.split(" ")[3]
       var updatedDateStr =  new Date(data.updated_at.split('T')[0]).toString()
       updatedDateStr = updatedDateStr.split(" ")[0] +  " " +updatedDateStr.split(" ")[1] +  " " +updatedDateStr.split(" ")[2] +  " " +updatedDateStr.split(" ")[3]
       %>

   <div class="complete-data-table">
       <table class="props xmpl repo-info-table" id="xtable">
           <thead>
           <tr >
               <th class="head" colspan="2">Useful Information</th>

           </tr>
           </thead>
           <tbody>
           <tr>
               <td>Repository Name</td>
               <td><%= data.name%></td>
           </tr>
           <tr>
               <td>Repository URL</td>
               <td><a  class="index-github-link" target="_blank" href="<%= data.html_url%>"><%= data.html_url%></a></td>
           </tr>
           <tr>
               <td>Description</td>
               <td><%= data.description %></td>
           </tr>
           <tr>
               <td>Home Page</td>
               <td><a  class="index-github-link" target="_blank" href="<%= data.homepage%>"><%= data.homepage%></a></td>
           </tr>
           <tr>
               <td>Created</td>
               <td><%= dateStr %></td>
           </tr>
           <tr>
               <td>Last Updated</td>
               <td><%= updatedDateStr %></td>
           </tr>
           <tr>
               <td>Watchers</td>
               <td><%= data.watchers %></td>
           </tr>
           <tr>
               <td>Forks</td>
               <td><%= data.forks %></td>
           </tr>
           <tr>
               <td>Stars</td>
               <td><%= data.stargazers_count %></td>
           </tr>
           <tr>
               <td>Git clone URL</td>
               <td><%= data.clone_url %></td>
           </tr>

           <tr>
               <td>SSH URL</td>
               <td><%= data.ssh_url %></td>
           </tr>
           </tbody>
       </table>
   </div>
   </div>
       <div class="explanation">
           <div class="explanation-head">Information</div>
           <div class="explanation-body">
               <p><p class="name"><%= data.name %></p><p class="name"><%= ipred %></p><p class="name"><%= prpred %></p></p>
           </div>
       </div>
         <h1 class=current-repo><%= data.name %></h1>
         <p><b>Repository name:</b> <%= data.name %></p>
         <p><b> GitHub Url: </b> &nbsp;<a href=<%= data.html_url %> target=_blank><%= data.html_url %></a></p>
          <!--this line below uses the calculated issues amount after subtracting the PRs from it -->
         <p><b> Open Issues: </b> <span class="openIssuesNumDisplay"></span>&nbsp;<a href=../issue/details/<%= data.name %>>Details</a></p>
         <p><b> Closed issues: </b> <%= closedissues %></p>
         <p><b> Pull Requests: </b> <%= pullRequestNo %></p>
         <p><b> Closed Pull Requests: </b> <%= closedPulls %></p>
         <p><b> Stars: </b> <%= data.watchers_count %></p>
         <p><b> Created: </b> <%= created %></p>
         <p><b> Description: </b> <%= data.description %></p>
         <p><b> Number of forks: </b> <%= data.forks_count %></p>
         <p><b> Percentage of all jQuery Open Issues: </b><span class="issuesPercent"><span></p>
         <p><b> Percentage of all jQuery Open Pull Requests: </b><span class="pullsPercent"><span></p>

         <p class='old'>
            <b> Age of oldest issue: </b> <%= issueRange %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <script>
                if (username !== null) {
                    $(".attention-marker").html("Mark for attention")
                }

                if(old !== null){
                    $('.old').append("<a class='oldest-link' href=" + old + " target=_blank>Go to oldest issue</a>");
                }

                if(oldPRURL !== "null"){
                    $('.old-pr').append("<a class='oldest-link' href=" + oldPRURL + " target=_blank>Go to oldest Pull Request</a>");
                }
            </script>
         </p>
         <p class='newest'>
            <b> Age of newest issue: </b> <%= newRange %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <script>
               if(newestIssue !== null){
                   $('.newest').append('<a href='+ newestIssue +' target=_blank>Go To Newest Issue</a>');
               }
            </script>
         </p>
         <p><b> Average time to close pull request: </b> <%= avgPulls %></p>
       <p><b> Average age of open issues: </b> <%= averageAgeOfOpenIssues %></p>
       <p><b> Average time to close issues: </b> <%= avgIssues %></p>
       <p><b> Average age of open Pull requests: </b> <%= averageAgeOfOpenPRs %></p>
         <p><b> Age of oldest pull request: </b> <%= pullRange %></p>
         <p><b>Closures: </b><br>
            <%for (var key in events){ %>
            <%= key + ' : ' + events[key] ; %> <br>
            <% } %>
         </p>
         <p></p>
         <p>Commits URL: <a href=<%= url.commits %>><%= url.commits %></a></p>
<img title="Mark for attention" class="repo-page-pin" src="/img/attention_pin.png" alt="">
      <script>

          $(document).ready(function(){
              $(".openIssuesNumDisplay").html(v[v.length-1].issues);
          });

          var jqueryPieVal = 100 - totals.issues;
          jqueryPieVal = jqueryPieVal.toFixed(2);
          var issuesPieVal = totals.issues.toFixed(2);
          var rep = homeRepository;
          $(".avg-issue-value").html(issuesPieVal + "%");
          $(".pulls-val").html(<%= pullRequestNo %> + "<div class='pstatus'></div>");
          // pie chart data for issues
          var pieData = [{
             "label":rep,
             "value":issuesPieVal
          },
          {
             "label":"Other jQuery repos",
             "value":jqueryPieVal
          }];
          var currentIssues = v[v.length-1].issues;
          pieChart(pieData, "#issues-pie-chart", foundationIssuesAvg, currentIssues, true, chartColour, endChartColour);

          jqueryPieVal = 100 - totals.pulls;
          jqueryPieVal = jqueryPieVal.toFixed(2);
          var pullsPieVal = totals.pulls.toFixed(2);
          $(".avg-pulls-value").html(pullsPieVal + "%");
          $(".issues-val").html(v[v.length-1].issues + "<div class='istatus'></div>");
          // pie chart data for PRs
          pieData = [{
                "label":rep,
                "value":pullsPieVal
             },
             {
                "label":"Other jQuery repos",
                "value":jqueryPieVal
             }];

          pieChart(pieData, "#pulls-pie-chart", foundationPullsAvg, <%= pullRequestNo %>, false, chartColour, endChartColour);

          var elm, elm2;
          elm = document.getElementsByClassName('issuesPercent');
          elm[0].innerHTML = totals.issues.toFixed(2) + "%";
          elm2 = document.getElementsByClassName('pullsPercent');
          elm2[0].innerHTML = totals.pulls.toFixed(2) + "%";
          elm3  = document.getElementsByClassName('istatus');
          elm3[0].innerHTML = iDiff;
          elm4  = document.getElementsByClassName('pstatus');
          elm4[0].innerHTML = pDiff;
         scroller.init();


        var countss = 0;

          for(var k in v) {
              var tempArr = [];
              tempArr.push({'date': v[k].date, 'issues': v[k].issues});//this array is used for the actual tables
              countss +=    parseInt(v[k].issues);
          }
          if(countss === 0) {


              $("div.explanation").css({

                  top:"300px",
                  left: "30px"
              })
          }

          if(isPinned) {
              $(".repo-page-pin").attr("src","/img/attention_pin_enabled.png")
          }
          $(".repo-page-pin").on("click", function() {
              var teamname = window.location.pathname.split("/")[3];
              if($(".repo-page-pin").attr("src") === "/img/attention_pin_enabled.png") {
                  $(this).attr("src", "/img/attention_pin.png")

                  $.ajax({
                      method: "POST",
                      url: "no-attention",
                      data: {
                          username: username,
                          email: email,
                          userAvatar: av,
                          attentionTarget: teamname
                      }
                  }).done(function(msg) {
                      console.log(msg)
                  });

              } else {
                  $(".repo-page-pin").attr("src", "/img/attention_pin_enabled.png")

                  $.ajax({
                      method: "POST",
                      url: "need-attention",
                      data: {
                          username: username,
                          email: email,
                          userAvatar: av,
                          attentionTarget: teamname
                      }
                  }).done(function(msg) {
//                      console.log(msg)
                  });

              }

          })
      </script>


   <footer class="footer-wrap">

   </footer>
   <div class="footer-lower-bar">
       <ul class="footer-menu">
           <li><a href="/">Home</a> &nbsp;&nbsp;| &nbsp;&nbsp; </li>
           <li><a href="https://github.com/markogrady1/jQit" target="_blank">GitHub</a> &nbsp;&nbsp; |  &nbsp;&nbsp;</li>
           <li><a href="">Twitter</a> &nbsp;&nbsp; | &nbsp;&nbsp; </li>
       </ul>
       <div class="copyright-notice">
           &copy All rights reservered. jQit Issue Tracker
       </div>
   </div>
   </body>
</html>