body {
	margin:0;
	padding:0;
    background-color: #f5f5f5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.body-wrap {
	padding: 10px;
}

.svg-chart .background {
	shape-rendering: crispEdges;
	stroke: #ccc;
	fill: #fdfdfd;
	stroke-width: 0px;
}

.svg-chart .bar { 
	fill: #4682B4; 
}

.open-issue-repo:hover, .open-issue-repo-dates:hover{
	background-color: #2e4677;
}

.open-issue-repo, .repo-hist{
	width:300px;
	padding: 11px 20px 15px 20px;
	background-color: #18295a;
	color:#fff;
	border-radius: 8px;
	margin-bottom: 10px;
}
.button-wrap a{
	text-decoration: none;
}

.button-wrap{
	width:300px;
	float: left;
}
.issue-count {
	background-color: #fff;
	float: right;
	border-radius: 6px;
	padding:2px 5px;
	color:red;
}
.open-issue-repo-dates{
	width:1000px;
	padding: 11px 20px 11px 20px;
	background-color: #18295a;
	color:#fff;
	border-radius: 8px;
	margin-bottom: 10px;
}

.inner-title {
	font-size: .7em;
	margin-left: 50px;
	background-color: yellow;
	padding: 5px 10px;
	border-radius: 8px;
	color: #000;
}

.bar {
	fill: #4883B2;
	shape-rendering: crispEdges;
}

.header {
	background-color: #97DDFD;
	padding:20px;
}

#chartArea {
	width: 800px;
	margin: 0 auto;
}

.bar-label {
	text-anchor: end;
}
