body {
	margin:0;
	padding:0;
    background-color: #f5f5f5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.body-wrap {
	padding: 10px;
}

.svg-chart .background {
	shape-rendering: crispEdges;
	stroke: #ccc;
	fill: #fdfdfd;
	stroke-width: 0px;
}

.svg-chart .bar { 
	fill: #4682B4; 
}

.open-issue-repo:hover, .open-issue-repo-dates:hover {
	background-color: #2e4677;
}

.open-issue-repo, .repo-hist{
	width:300px;
	padding: 11px 20px 15px 20px;
	background-color: #18295a;
	color:#fff;
	border-radius: 8px;
	margin-bottom: 10px;
}
.button-wrap a{
	text-decoration: none;
}

.button-wrap{
	width:300px;
	float: left;
}
.issue-count {
	background-color: #fff;
	float: right;
	border-radius: 6px;
	padding:2px 5px;
	color:red;
}
.open-issue-repo-dates{
	width:1000px;
	padding: 11px 20px 11px 20px;
	background-color: #18295a;
	color:#fff;
	border-radius: 8px;
	margin-bottom: 10px;
}

.inner-title {
	font-size: .7em;
	margin-left: 50px;
	background-color: yellow;
	padding: 5px 10px;
	border-radius: 8px;
	color: #000;
}

.bar {
	fill: #4883B2;
	shape-rendering: crispEdges;
}

.header {
	background-color: #97DDFD;
	padding:20px;
}

#chartArea {
	width: 1200px;
	margin: 0 auto;
}

#chartArea2 {
	width: 1200px;
	margin: 0 auto;
}

.bar-label {
	fill:#4A84B0 ;
	text-anchor: middle;
}

.axis path, 
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: chrispEdges;
}

.gridline path,
.gridline line {
	fill: none;
	stroke: #fff;
	shape-rendering: chrispEdges;
}

.status {
	font-size: 3em;
}

.displ-wrap span{
	margin: 0 0 10 0;
	padding: 0 0 10 0;
}
.increase, .decrease, .same {
	padding: 0 4px 0 0;
}
.increase {
	color: #EA594E;
}
.decrease {
	color: #52DD48;
}

.same {
	color: #66D9EF;
}

.btn , .line-btn {
	margin: 20px 0 0 20px;
	width: 150px;
	height: 30px;
	border-radius: 5px;
	background-color: #3999dd;
	color: #fff;
	border: 0;
	font-size: 1em;
	outline: none;
}

.btn:hover, .line-btn:hover {
	background-color: #4a84b0;
	cursor: pointer;
}

.issues-title {
	font-size: 1.2em;
	color: #a9a9a9;
}

.pulls-title {
	font-size: 1.2em;
	color: #a9a9a9;
}

.trendline {
	fill: none;
	stroke: #5087af;
	stroke-width: 4px;
	/*stroke-dasharray: 0.7;*/
}

.trendline2 {
	fill: none;
	stroke: #C81A4E;
	stroke-width: 4px;
	/*stroke-dasharray: 0.7;*/
}

.team1 {
	color:#5087af;
}

.team2 {
	color:#C81A4E;
}
SVG#line-chart {
	padding-top: 20px;
}

.d3-tip {
  line-height: 1;
  /*font-weight: bold;*/
  padding: 12px;
  background: #3a3a3a;
  color: #cacaca;
  border-radius: 4px;
  border: 2px solid #a3a3a3;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #cacaca
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Table style for index page */






table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}


.head:hover  {
	background-color: #515151;
	cursor: pointer;
}

.index-name-link {
	color: #000;
	text-decoration: none;
}

.index-name-link:hover {
	color: #2368EA;
}

.index-github-link {
	color: #000;
	text-decoration: none;
}

.index-github-link:hover {
	color: #2368EA;
}
/* media query to hide extra table elements when page size is decreased */
@media (max-width: 649px) {
	.github-head, .github-detail {
	display:none;
}
	
}
